/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
    #header {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header-menu-container {
        margin: 0;
    }

    #phone-img {
        margin: 0;
    }

    #titles {
        margin: 0;
        padding-right: 20px;
        padding-left: 20px;
    }

    #titles #titles-container #context {
        left: 43px;
    }

    #titles img#image-barber {

    }

    #titles #titles-container {
        padding: 188px 0 82px 0;
        margin: 0 auto;
        max-width: 500px;
    }

    #denomination #denomination-content {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #description {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #description #description-container #description-content img.br {
        width: 100%;
        margin-left: 20px;
    }

    #description #description-container #description-content .text .text-dop {
        margin-left: 12px;
    }

    #price {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #price #price-bloc-content {
        margin-right: 163px;
    }

    #masters {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1024px;
    }

    .slick-dots {
        width: 42%;
        margin-left: 285px;
    }

    .slick-prev {
        top: 556px;
    }

    .slick-next {
        top: 556px;
    }

    #contacts #contacts-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer #footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .center .master .photo img.photo-min {
        max-width: 250px;
    }

    .center .master .photo .bg-color {
        margin-left: 39px;
        max-width: 250px;
        top: 233px;
    }

    .master .slick-name-barber {
        top: 333px;
    }

    .center .slick-track .slick-center .slick-name-barber {
        margin-top: -147px;
    }

    .master .btn-slick {
        top: 372px;
    }

    .center .slick-track .slick-center .btn-slick {
        margin-top: -149px;
    }

    .center .slick-track .slick-center img.bg-color {
        margin-left: 39px;
        width: 250px;
        margin-top: -57px;
    }

    .center .slick-initialized .slick-slider .slick-dotted {
        margin: 0 auto;
    }

    #price #price-bloc {
        justify-content: center;
    }



    #reserve-button {
        text-align: center;
    }

    #reserve-button .btn-sing-up {
        margin: 0;
    }

}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {

    #header {
        justify-content: space-around;
    }

    #phone-img {
        display: none;
    }

    #titles {
        align-items: flex-end;
    }

    #titles #titles-container #context {
        left: -100px;
    }

    #titles img#image-barber {
        max-width: 400px;
        max-height: 400px;
    }

    #titles #titles-container #context-next {
        bottom: 28px;
    }

    #titles #titles-container {
        padding: 92px 20px 68px 20px;
    }

    #denomination .denomination-container img {
        width: 40px;
    }

    #description #description-text {
        max-width: 475px;
    }

    #denomination #denomination-content {
        display: block;
    }

    #denomination .denomination-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
    }

    #description #description-container #denomination-content-next .content-text {
        max-width: 311px;
    }

    #description #description-container #denomination-content-next img {
        margin-top: -111px;
        margin-left: 0;
    }

    .insta .insta-container {
        justify-content: space-evenly;
    }

    .insta .insta-container .insta-text {
        margin: 0;
        max-width: 260px;
    }

    .insta .insta-container .up {
        margin: 0;
    }

    #price #price-bloc {
        margin: 0 auto;
    }

    #price .price-list-container .sum {
        margin-left: -15px;
    }

    #price .price-list-container .price-list-text-mini {
        margin-top: 0;
    }

    #price #price-bloc-content {
        margin-right: 90px;
    }

    #price img#scissors {
        left: 50px;
    }

    #masters {
        padding: 115px 0;
    }

    #masters #masters-text {
        max-width: 717px;
    }


    .center {
        max-width: 724px;
        align-items: center;
    }

    .center .master .photo img.photo-min {
        left: 0;
        position: fixed;
    }

    .center .master .photo .bg-color {
        margin-left: 0;
        margin-top: 23px;
        width: 240px;
        height: 90px;
        position: fixed;
        z-index: 1;
    }

    .center .slick-track .slick-center img.bg-color {
        margin-left: 0;
        max-width: 250px;
        margin-top: -39px;
        position: fixed;
        z-index: 1;
    }

    .center .slick-initialized .slick-slider .slick-dotted {
        margin: 0;
    }

    .master .slick-name-barber {
        margin-left: 81px;
        top: 347px;
        position: fixed;
    }

    .center .slick-track .slick-center .btn-slick {
        margin-top: -149px;
        left: 33px;
    }

    .master .btn-slick {
        margin-left: 42px;
        top: 379px;
        padding: 3px 30px;
        position: fixed;
    }

    .master .slick-name-barber.name-barber-dop {
        margin-left: 96px;
        position: fixed;
    }

    .slick-current {
        height: 156px;
    }

    .slick-dots {
        width: 58%;
        margin-left: 152px;
        top: 534px;
    }

    .slick-prev {
        top: 547px;
        left: 140px;

    }

    .slick-next {
        top: 547px;
        right: 146px;
    }

    #thank {
        max-width: 600px;
    }

    #reserve-block {
        margin-right: 10px;
    }

    #reserve-block-two {
        margin-right: 10px;
    }

    .reserve-input, input {
        width: 184px;
    }

    #reserve-button .btn-sing-up {
        position: fixed;
        margin-left: -131px;
    }

    #error-phone {
        width: 188px;
    }

    #error-name {
        width: 188px;
    }

    #error-services {
        width: 188px;
    }

    #error-master {
        width: 188px;
    }

    #thank-title img#thank-close {
        left: 385px;
    }

}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    #burger {
        display: block;
        position: absolute;
        left: 41px;
        top: 47px;
        font-size: 45px;
    }

    #header-menu-container {
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        z-index: 999999;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0;
        display: none;
    }

    #header #header-menu-container a.header-menu:hover {
        border: none;
    }

    #header #header-menu-container a.header-menu {
        margin: 0;
        text-align: center;
        display: block;
        padding-top: 30px;
        border: none;
        width: 100%;
    }

    #masters #masters-text {
        max-width: 390px;
    }

    #description #description-container #denomination-content-next {
        margin: 0 auto;
    }

    #description #description-container #denomination-content-next img {
        margin-left: 50px;
    }

    #description #description-container #denomination-content-next .content-text {
        max-width: 767px;
        margin: 50px auto auto auto;
    }

    #description #description-container {
        display: block;
    }

    #denomination .denomination-container .denomination-text {
        margin-left: 10px;
    }

    #description #description-container #description-content img.br {
        margin: 0 auto;
        max-width: 767px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .insta .insta-container {
        display: block;
        text-align: center;
    }

    .insta .insta-container .insta-text {
        margin: 0 auto;
        max-width: 307px;
        text-align: center;
    }

    .insta .insta-container .up {
        margin: 30px auto auto auto;
    }

    #titles {
        display: block;
        margin: 0 auto;
        max-width: 425px;
    }

    #titles #titles-container #title-text {
        text-align: center;
    }

    #titles #titles-container #title-text-min {
        text-align: center;
    }

    #titles #titles-container #online {
        text-align: center;
    }

    #titles img#image-barber {

        padding-right: 20px;
        padding-left: 20px;
    }

    #titles #titles-container #context {
        display: none;
    }

    #titles #titles-container #context-next {
        display: none;
    }

    #price img#scissors {
        display: none;
    }

    #denomination .denomination-container .denomination-text {
        margin-left: 20px;
    }


    .center {
        max-width: 398px;
        margin: 0 auto;
        align-items: center;
    }

    .center .master .photo img.photo-min {
        left: -24px;
        max-width: 236px;
    }

    .center .slick-track .slick-center img.bg-color {
        margin-left: -24px;
        max-width: 235px;
    }

    .center .slick-track .slick-center .slick-name-barber {
        margin-top: -144px;
        left: -15px;
    }

    .master .slick-name-barber.name-barber-dop {
        margin-left: 89px;
    }

    .center .slick-track .slick-center .btn-slick {
        margin-top: -142px;
        left: 3px;
    }

    .slick-track {
        left: -144px;
        padding-left: 97px;
    }

    .slick-dots {
        width: 405px;
        margin-left: 5px;
        display: none !important;
    }

    .slick-prev {
        top: 532px;
        left: 80px;
    }

    .slick-next {
        top: 532px;
        right: 79px;
    }


    #price {
        margin: 0 auto;
    }

    #price .price-list {
        text-align: center;
        max-width: 285px;
        margin: 0 auto;
    }

    #price .price-list-container .price-list-text-mini {
        width: 260px;
    }

    #price .price-list-container .sum {
        margin-left: 110px;
    }

    #price img#scissors {
        width: 80%;
    }

    #price #price-bloc {
        display: block;
    }

    #price-bloc-content-next {
        max-width: 400px;
        margin: 0 auto;
    }


    #price #price-bloc-content {
        width: 400px;
        margin-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
    }



    #contacts #contacts-container #contacts-bloc #contacts-bloc-logo {
        text-align: center;
        margin: 0 auto;
    }

    #contacts #contacts-container #contacts-bloc #time {
        margin: 70px auto auto auto;
    }

    #contacts #contacts-container #contacts-bloc #address {
        margin: 40px auto auto auto;
    }

    #contacts #contacts-container #contacts-bloc #contacts-container-bloc #contacts-bloc-content #site #site-container {
        margin: 35px auto auto auto;
    }

    #contacts #contacts-container #contacts-bloc #contacts-container-bloc #contacts-bloc-content #site #icon {
        margin: 20px auto auto auto;
    }

    #contacts #contacts-container #contacts-bloc #contacts-container-bloc #contacts-bloc-content #mail {
        margin: 55px auto auto auto;
    }

    #contacts #contacts-container #contacts-bloc #contacts-container-bloc #contacts-bloc-content .phone {
        margin: 15px auto auto auto;
        text-align: center;
    }

    #contacts #contacts-container #contacts-bloc #contacts-container-bloc #contacts-bloc-content {
        margin: 0 auto;
    }

    #contacts #contacts-container #contacts-bloc #cart {
        display: none;
    }

    #reserve {
        display: block;
        margin-top: 15px;
    }

    #form-container {
        padding-top: 20px;
        height: 565px;
    }

    #reserve-block {
        margin: 0 auto;
        text-align: center;
    }

    #reserve-block-two {
        margin: 0 auto;
        text-align: center;
    }

    #reserve-block-next {
        margin: 0 auto;
        text-align: center;
    }

    #data-form {
        width: 190px;
    }

    .reserve-input, input {
        width: 164px;
        margin: 6px;
    }

    #reserve-button .btn-sing-up {
        margin-top: 15px;
    }

    #thank {
        max-width: 425px;
    }

    #thank-title {
        width: 220px;
    }

    #thank-text {
        width: 225px;
    }

    .reserve-input, input {
        width: 232px;

    }

    #error-phone {
        display: none !important;
    }

    #error-name {
display: none !important;
    }

    #error-services {
        display: none !important;
    }

    #error-master {
        display: none !important;
    }

    #error-date {
        display: none !important;
    }

    #error-time {
        display: none !important;
    }

    #reserve-button .btn-sing-up {
        margin-left: -116px;
    }

    #thank-title img#thank-close {
        left: 246px;
    }
}

/*320 - 424*/
@media screen and (max-width: 424px) {
    a.header-logo {
        max-width: 77px;
    }

    .phone {
        margin-left: 0;
    }

    #denomination #denomination-content {
        display: block;
    }

    #denomination .denomination-container {
        display: block;
        text-align: center;
    }

    #denomination .denomination-container img {

    }

    #denomination .denomination-container .denomination-text {
        margin-top: 27px;
    }

    #titles img#image-barber {
        width: 90%;
    }



    #border-slick-one {
        display: none;
    }

    #border-slick-two {
        display: none;
    }

    #border-slick {
        display: none;
    }

    #description #description-container #denomination-content-next img {
        margin-left: 0;
    }

    #price {
        max-width: 320px;
    }

    #price .price-list-bloc {
        display: block;
    }

    #price .price-list-container .sum {
        margin-left: 44px;
    }

    #price #price-bloc-content {
        max-width: 150px;
    }

    #price .price-list-container .con {
        width: 170px;
    }

    #price .price-list-container .price-list-text-mini {
        max-width: 122px;
        font-size: 11px;
        margin: 0 auto;
    }

    #price .price-list-text {
        margin: 0 auto;
        text-align: center;
    }

    #price .price-list-container .sum {
        margin: 0 auto;
        text-align: center;
    }

    #masters #masters-text {
        max-width: 314px;
    }

    .center .slick-track .slick-center .slick-name-barber {
        left: -25px;
    }

    .center .slick-track .slick-center .btn-slick {
        left: -7px;
    }

    #form-container {
        margin-left: -148px;
    }


    #thank {
        max-width: 320px;
    }

    #thank-title {
        max-width: 152px;
    }

    #thank-text {
        margin-top: 50px;
        max-width: 152px;
    }

    #footer #footer-container {
        display: block;
        text-align: center;
    }

    #reserve-button .btn-sing-up {
        margin-left: -116px;
    }

    #form-container {
        margin: 0 auto;
        padding: 0;
    }

    #thank-title img#thank-close {
        left: 170px;
    }
}
